emacs/.emacs.d/elpa
emacs/.emacs.d/tramp
emacs/.emacs.d/eln-cache
emacs/.emacs.d/yaslam-lisp/load-path/*.el
emacs/.emacs.d/url
/emacs/.emacs.d/.cache/
*-latest-state*
*.last
*.data
session.*
.#*
*.backup*
# Ignore sensitive Emacs files
emacs/.emacs.d/elpa
emacs/.emacs.d/tramp
emacs/.emacs.d/bookmarks
emacs/.emacs.d/history
emacs/.emacs.d/eshell
emacs/.emacs.d/transient
emacs/.emacs.d/projects
emacs/.emacs.d/recentf

emacs-minimal/.emacs.d/elpa
emacs-minimal/.emacs.d/tramp
emacs-minimal/.emacs.d/eln-cache

emacs-minimal-v2/.emacs.d/eshell/
emacs-minimal-v2/.emacs.d/history
emacs-minimal-v2/.emacs.d/parinfer-rust/
emacs-minimal-v2/.emacs.d/recentf
emacs-minimal-v2/.emacs.d/straight/
emacs-minimal-v2/.emacs.d/tramp

# Ignore Emacs backup files
*~

# ignore doomemacs emacsd folder (not used in doomemacs)
/doom-emacs/.emacs.d/

*.log*

xmonad/.config/xmonad/xmonad
xmonad/.config/xmonad/*stack*
xmonad/.config/xmonad/xmonad*
xmobar/.config/xmobar/xmobar
xmobar/.config/xmobar/*stack*

stumpwm.d/.stumpwm.d/modules

nvim/.config/nvim/.netrwhist

# Ignore databases
*xapian*
notmuch/mail/.notmuch/xapian

# Ignore gkrellm directory
gkrellm2/.gkrellm2/

# Don't track getmail "oldmail" files
/getmail/.getmail/oldmail-*

# Don't track misc fluxbox files
fluxbox/.fluxbox/apps
fluxbox/.fluxbox/pre-global-menu.txt
fluxbox/.fluxbox/submenus/appearance
fluxbox/.fluxbox/submenus/full_menu

*.elc
notmuch/mail/.notmuch/muchsync/*
*.swp
*.hi
*.o
emacs/.emacs.d/straight/
.sass-cache
waybar/.config/waybar/style.css*
xmobar/.config/xmobar/xmobar-git/
xmobar/.config/xmobar/xmobar-laptop
emacs/.emacs.d/parinfer-rust/
/systemd/.config/systemd/user/default.target.wants/

emacs-minimal-v4-no-usepackage/.emacs.d/eln-cache/
emacs-minimal-v4-no-usepackage/.emacs.d/elpa/
emacs-minimal-v4-no-usepackage/.emacs.d/eshell/
emacs-minimal-v4-no-usepackage/.emacs.d/parinfer-rust/
emacs-minimal-v4-no-usepackage/.emacs.d/request/
emacs-minimal-v4-no-usepackage/.emacs.d/themes/
emacs-minimal-v4-no-usepackage/.emacs.d/transient/
xmobar-minimal/.config/xmobar/xmobar
xmonad-minimal/.config/xmonad/.ghc.environment.x86_64-linux-9.0.2
xmonad-minimal/.config/xmonad/cabal.project
xmonad-minimal/.config/xmonad/dist-newstyle/
xmonad-minimal/.config/xmonad/xmonad-contrib/
xmonad-minimal/.config/xmonad/xmonad/

