[submodule "dot-stumpwm.d/modules"]
	path = dot-stumpwm.d/modules
	url = https://github.com/stumpwm/stumpwm-contrib
[submodule "doom-emacs-v2/.doom.d/lisp/emacs-application-framework"]
	path = doom-emacs-v2/.doom.d/lisp/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework
[submodule "doom-emacs-v2/.doom.d/lisp/erc-image"]
	path = doom-emacs-v2/.doom.d/lisp/erc-image
	url = https://github.com/kidd/erc-image.el
