emacs/.emacs.d/elpa
emacs/.emacs.d/tramp
emacs/.emacs.d/eln-cache
emacs/.emacs.d/yaslam-lisp/load-path/*.el
/emacs/.emacs.d/.cache/
*-latest-state*
*.last
*.data
session.*
.#*
*.backup*
# Ignore sensitive Emacs files
emacs/.emacs.d/elpa
emacs/.emacs.d/tramp
emacs/.emacs.d/bookmarks
emacs/.emacs.d/history
emacs/.emacs.d/eshell
emacs/.emacs.d/transient

emacs-minimal/.emacs.d/elpa
emacs-minimal/.emacs.d/tramp
emacs-minimal/.emacs.d/eln-cache


# Ignore Emacs backup files
*~

# ignore doomemacs emacsd folder (not used in doomemacs)
/doom-emacs/.emacs.d/

*.log*

xmonad/.config/xmonad/xmonad
xmonad/.config/xmonad/*stack*
xmonad/.config/xmonad/xmonad*
xmobar/.config/xmobar/xmobar
xmobar/.config/xmobar/xmobar*
xmobar/.config/xmobar/*stack*

stumpwm.d/.stumpwm.d/modules

nvim/.config/nvim/.netrwhist

# Ignore databases
*xapian*
notmuch/mail/.notmuch/xapian

# Ignore gkrellm directory
gkrellm2/.gkrellm2/

# Don't track getmail "oldmail" files
/getmail/.getmail/oldmail-*

# Don't track misc fluxbox files
fluxbox/.fluxbox/apps
fluxbox/.fluxbox/pre-global-menu.txt
fluxbox/.fluxbox/submenus/appearance
fluxbox/.fluxbox/submenus/full_menu

*.elc
notmuch/mail/.notmuch/muchsync/*
*.swp
*.hi
*.o
emacs/.emacs.d/straight/
.sass-cache
waybar/.config/waybar/style.css*
