[Unit]
Description=IMAP notifier using IDLE, golang version.
ConditionPathExists=%h/.config/imapnotify/imapnotify-gmail.conf
After=network.target

[Service]
ExecStart=goimapnotify -conf %h/.config/imapnotify/imapnotify-gmail.conf
Restart=always
RestartSec=30

[Install]
WantedBy=default.target

